{% include "core/header.html" %}
{% load static %}

        <div class="wrapper_inner clearfix clear" id="startcontent">
            <!-- start fullwidth -->


            <div class="page-inner fix">
                <!--content column-->
                <div class="onewhole left">
                    <div class="inner">
                        <div id="page-content" class="content content1 cimg-container">
                            <H1 class="page-title">Complaint Notice</H1>

                            <p>If you have a concern with the services provided by America's Credit Union, please contact us at:<br /><br /><strong>America's Credit Union</strong><br />PO Box 671149<br />Dallas, TX 75367<br />Phone: <a href="tel:1-888-742-6551"
                                    data-linktype="ext">(888) 742-6551</a> or <a href="tel:214-742-6551" data-linktype="ext">214-742-6551</a></p>
                            <p>In addition, you may send us an email to <strong>info@americascu.org</strong>. This credit union is incorporated under the State of Texas laws and subject under state law to regulatory oversight by the Texas Credit Union Department.
                                If any dispute is not resolved to your satisfaction, you may also file a complaint against America's Credit Union by contacting:</p>
                            <p><strong>Texas Credit Union Department</strong><br />914 East Anderson Lane<br />Austin, Texas 78752-1699<br />Phone: 512-837-9236 Fax: 512-832-0278<br />E-mail: complaints@cud.texas.gov&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; Website: www.cud.texas.gov</p>
                            <p>Please note that the Department does not have the authority to resolve contractual disputes or documented factual disputes between a member and this credit union. If your dispute is of this nature, you may want to consult with
                                legal counsel regarding your rights to resolve the situation.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content2 fix clear cimg-container">

                    </div>
                </div>
            </div>

            <div class="page-inner fix">
                <div class=" content content3 fix clear cimg-container">
                    <div class="inner">


                    </div>
                </div>
            </div>
            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content4 fix clear cimg-container">

                        <div class="contentdeck two-column-text-image closing-block bg-color-customblue photo-align-left reverse-boxed-deck">
                            <div class="clearfix">
                                <div class="deckinner deck-distinct bg-color-customblue logo-overlay">
                                    <div class=" multicol2">
                                        <div class="multicol-inner fix">

                                            <div class="deck-title lexend" role="heading">Looking for more?</div>


                                            <div class="intro">We think these topics may match your interests!</div>



                                            <div class="tiny txt-left" style="display: block; width: 100%"><a href="/personalization-options.html">Fresh start?</a></div>



                                        </div>
                                    </div>
                                    <div class="multicol1">
                                        <div class="multicol-inner inner fix">

                                            <div class="stacked-bars-container">


                                                <a href="/borrow/mortgage/mortgage-refinance.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card">
                                                        <div><i class="fa-thin fa-house-window"></i></div> Mortgage Refinance
                                                    </div>
                                                </a>




                                                <a href="/borrow/personal/personal-loan.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-handshake-simple"></i> Personal Loans
                                                    </div>
                                                </a>




                                                <a href="/rates.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-percent"></i> Rates
                                                    </div>
                                                </a>




                                                <a href="/contact-us.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-phone"></i> Contact Us
                                                    </div>
                                                </a>









                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end fullwidth -->
        </div>
        <!--end wrapper_inner-->
    </div>



{% include "core/footer.html" %}