{% include "core/header.html" %}
{% load static %}

        <div class="wrapper_inner clearfix clear" id="startcontent">
            <!-- start fullwidth -->

            <div class="hero-banner-2023 contentdeck two-column-text-image deck-image-overlap bg-color-transparent txt-dark  photo-align-left">
                <div class="clearfix">
                    <div class="deckinner deck-distinct no-padding-top bg-color-transparent txt-dark">
                        <div class=" multicol2">
                            <div class="multicol-inner fix">
                                <div class="overlap-img overlap-1"><img src="{% static 'assetzz/content/images/700/americas-account-management-1.jpg' %}" alt="" loading="lazy"></div>
                                <div class="overlap-img overlap-2"><img src="{% static 'assetzz/content/images/700/americas-account-management-2.jpg' %}" alt="" loading="lazy"></div>
                                <div class="overlap-mini-square  ">
                                    <div class="mini-text ">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="multicol1">
                            <div class="multicol-inner inner fix">

                                <h2 class="deck-title h1-style">Account Management</h2>



                                <p><span class="intro">Do it all with Digital Banking!<br /></span></p>
                                <p>Transfer funds, pay bills, send money to your people, check your history, and keep your accounts safe.</p>
                                <p style="margin-bottom: 2.0em;">Whatever banking you need to do, it's just a click or touch away!</p>
                                <p><a href="{% url 'accounts:register' %}" class="button button9 " data-linktype="ext">Enroll in Digital Banking</a>&nbsp;<a href="{% url 'accounts:login' %}" class="button button8 JQspeedbump"
                                        data-linktype="ext"><span style="color: #1b365d;" class="fa-brands fa-app-store-ios"></span> Login To Digital Banking</a></p>
                               

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-inner fix">
                <!--content column-->
                <div class="onewhole left">
                    <div class="inner">
                        <div id="page-content" class="content content1 cimg-container">
                            <h1 class="page-title just-sr">Account Management</h1>


                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content2 fix clear cimg-container">
                        <p>
                            <div class="contentdeck double-decker bg-color-lemonadeyellow txt-dark photo-align-right fix clear">
                                <div class="clearfix">

                                    <div class="deckinner fix deck-distinct">
                                        <div class="multicol2">
                                            <div class="multicol-inner fix">
                                                <div class="feature-img "><img src="{% static 'assetzz/content/images/700/americas-account-management-3.jpg' %}" loading="lazy" alt=""></div>
                                                <div class="feature-img "><img src="{% static 'assetzz/content/images/700/americas-account-management-4.jpg' %}" loading="lazy" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">
                                                <div class="content-upper">
                                                    <div class="upper-text">



                                                    </div>
                                                </div>
                                                <div class="content-lower">
                                                    <div class="step-list-container">
                                                        <h2>Transactions</h2>
                                                        <p><span class="intro">Do almost any transaction on your phone or desktop!</span></p>
                                                        <p>
                                                            <div class="refreshed-step-list listcols-">

                                                                <div class="distinct-box-col">
                                                                    <ul class="step-list fix listcolwidth- colleft steplines1">

                                                                        <li>
                                                                            <div class="step-title">Transfers</div><span>Transfer to and from your credit union accounts and other financial institutions</span></li>


                                                                        <li>
                                                                            <div class="step-title">Mobile Deposit</div><span>Deposit a paper check to your account from anywhere using your phone’s camera</span></li>



                                                                        <li>
                                                                            <div class="step-title">Payments</div><span>Pay your bills or send money to friends & family</span></li>















                                                                    </ul>

                                                                </div>

                                                            </div>
                                                        </p>
                                                        <h3 style="margin-top: 0.75em;">ACCOUNT HISTORY</h3>
                                                        <p><span class="color-blue"><span class="intro">We store it for you with easy, 24/7 access!</span></span>
                                                        </p>
                                                        <p>
                                                            <div class="refreshed-step-list listcols-">

                                                                <div class="distinct-box-col">
                                                                    <ul class="step-list fix listcolwidth- colleft steplines1">

                                                                        <li>
                                                                            <div class="step-title">Check Management</div><span>Deposit, view, order, and issue checks</span></li>


                                                                        <li>
                                                                            <div class="step-title">Account Management</div><span>View balances, activity, cleared check images, and search transactions</span></li>



                                                                        <li>
                                                                            <div class="step-title">View and Print Documents</div><span>View and print eStatements, tax documents, and credit card statements (on desktop only)</span></li>















                                                                    </ul>

                                                                </div>

                                                            </div>
                                                        </p>
                                                        <p><a href="{% url 'accounts:register' %}" class="button button2 " data-linktype="ext">Get Started with Bill Pay</a></p>
                                                        <p><span class="small">(Bill Pay requires Digital Banking and a checking account.)</span></p>
                                                    </div>
                                                    <div class="cta-container">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck two-column-text-image bg-color-icyblue txt-dark  photo-align-left angled-deck double-angle">
                                <div class="clearfix">
                                    <div class="deckinner deck-distinct  bg-color-icyblue txt-dark">
                                        <div class=" multicol2">
                                            <div class="multicol-inner fix">

                                                <div class="feature-img"><img src="{% static 'assetzz/content/images/original/americas-account-management-6.jpg' %}" alt="" loading="lazy"></div>


                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">

                                                <div class="deck-title  " role="heading">SECURITY & CONTROL</div>



                                                <p><span class="intro">Together, we&rsquo;ll keep your accounts safe and secure!</span></p>
                                                <h3>Card Management</h3>
                                                <p>Manage your credit or debit cards.</p>
                                                <h3>Set Up Alerts</h3>
                                                <p>Get balance, transaction, and login notifications for each account.</p>
                                                <h3>Secure Messaging</h3>
                                                <p>Start a secure conversation while viewing your transaction details.</p>
                                                <p><a href="{% url 'accounts:register' %}" class="button button9 " data-linktype="ext">Enroll in Digital Banking</a>&nbsp;<a href="{% url 'contact_us' %}" class="button button4 " data-linktype="site">Contact Us</a></p>
                                                <p></p>
                                                <p></p>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck two-column-text-image bg-color-skygray txt-dark  photo-align-right angled-deck double-angle" id="digitalwallet">
                                <div class="clearfix">
                                    <div class="deckinner deck-distinct  bg-color-skygray txt-dark">
                                        <div class=" multicol2">
                                            <div class="multicol-inner fix">

                                                <div class="feature-img"><img src="{% static 'assetzz/content/images/original/Digital-Wallet_2.jpg' %}" alt="" loading="lazy"></div>


                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">

                                                <div class="deck-title  lexend-light" role="heading">Go Cashless</div>



                                                <p><span class="intro">Digital Wallet for Security and Convenience!&nbsp;&nbsp;</span></p>
                                                <p>Digital wallets make purchasing faster, easier, and more secure. By adding your card to a digital wallet, you get access to contactless payments and single-tap purchases at thousands of online and in-store
                                                    locations. Your card information is encrypted, ensuring it is private no matter where you shop.</p>
                                                <p>Here's how to get started:</p>
                                                <ul style="list-style-type: disc;">
                                                    <li>Open the app or wallet for your particular device.</li>
                                                    <li>Follow the prompts to add your America's CU card to your wallet.</li>
                                                    <li>Verify your card using one of the options offered.</li>
                                                    <li>You're ready to go!&nbsp;&nbsp;</li>
                                                </ul>
                                                <p></p>
                                                <p></p>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck two-column-text-image bg-color-palepurple txt-dark  photo-align-right reverse-boxed-deck image-silhouette">
                                <div class="clearfix">
                                    <div class="deckinner deck-distinct  bg-color-palepurple txt-dark">
                                        <div class=" multicol2">
                                            <div class="multicol-inner fix">

                                                <div class="feature-img"><img src="{% static 'assetzz/content/images/original/Americas-BillPay.png' %}" alt="" loading="lazy"></div>


                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">

                                                <div class="deck-title  lexend-light" role="heading">Enroll in BILL PAY</div>



                                                <p><span class="intro">Stop writing and mailing paper checks!</span></p>
                                                <p>The Bill Pay feature inside of Digital Banking is the quicker, easier, and more secure way to manage your payments.</p>
                                                <ul style="list-style-type: disc;">
                                                    <li>Schedule one-time or recurring payments in advance</li>
                                                    <li>Make your loan payments</li>
                                                    <li>Set up E-Bill to securely retrieve your bill from the payee</li>
                                                    <li>Arrange alerts for due dates, verification of payments, and more</li>
                                                    <li>Run payment reports for your bill payment activity</li>
                                                </ul>
                                                <p><a href="{% url 'accounts:register' %}" data-linktype="ext" class="button button2 ">Get Started with Bill Pay</a></p>
                                                <p><span class="small">(Bill Pay requires Digital Banking and a checking account)</span></p>
                                                <p></p>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contentdeck two-column-text-image bg-color-foggray txt-dark  photo-align-left reverse-boxed-deck image-silhouette" id="messagepay">
                                <div class="clearfix">
                                    <div class="deckinner deck-distinct  bg-color-foggray txt-dark">
                                        <div class=" multicol2">
                                            <div class="multicol-inner fix">

                                                <div class="feature-img"><img src="{% static 'assetzz/content/images/original/Americas-Message-Pay.png' %}" alt="" loading="lazy"></div>


                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">

                                                <div class="deck-title  lexend-light" role="heading">MessagePay</div>



                                                <p><span class="intro">Make a Loan Payment Anytime</span></p>
                                                <p>Make a payment to your America's CU loan or credit card from any external account.&nbsp; &nbsp;Send your payment via text message, online, or through mobile banking. Your personal data is encrypted for your
                                                    security.&nbsp; Each transaction is only $10.00.</p>
                                                <h3>How to get started.</h3>
                                                <ul>
                                                    <li>Receive a text message with the amount due on your loan.&nbsp;</li>
                                                    <li>Review your payment options or opt out of our text message service by texting "STOP".</li>
                                                    <li>The link will take you to a portal to verify your account with your account number and date of birth.</li>
                                                </ul>
                                                <p><strong style="font-size: 1rem;">Verifying your account for the first time:</strong></p>
                                                <ul>
                                                    <li><strong>Set up 4 digit pin:&nbsp; </strong>Once you have entered your account number and date of birth, it will prompt you to create a 4 digit pin.&nbsp; Store this information in a secure place as you
                                                        will need this pin number to verify future payments.</li>
                                                </ul>
                                                <p><a href="{% url 'accounts:register' %}" class="button button2 JQspeedbump" data-linktype="ext">Make A Payment</a></p>
                                                <p></p>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck two-column-text-image bg-color-skygray txt-dark  photo-align-right reverse-boxed-deck image-silhouette" id="gogreen">
                                <div class="clearfix">
                                    <div class="deckinner deck-distinct  bg-color-skygray txt-dark">
                                        <div class=" multicol2">
                                            <div class="multicol-inner fix">

                                                <div class="feature-img"><img src="{% static 'assetzz/content/images/original/GreenHeart_trans.jpg' %}" alt="" loading="lazy"></div>


                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">

                                                <div class="deck-title  lexend-light" role="heading">Enroll in eStatements</div>



                                                <p><span class="intro"><a id="gogreen"></a>Going Paperless is Simple!&nbsp; </span></p>
                                                <p>Online statements and notices are a great way to keep your America's CU communications organized. Notices, monthly statements, tax documents, and disclosures are all available in digital banking, all together,
                                                    in one location. Print or save your documents so they're always at your fingertips when needed.&nbsp;&nbsp;</p>
                                                <ul style="list-style-type: disc;">
                                                    <li><strong>It's fast.</strong>&nbsp; Emailed statements arrive several days earlier than paper statements.</li>
                                                    <li><strong>It's safe.&nbsp;</strong> You can view communication in a secure environment and eliminate the risk of mail fraud.&nbsp;&nbsp;</li>
                                                    <li><strong>It's clutter-free</strong>. We store your statements for you, so there are no drawers or paper files to look through when you need information. You can access and retain up to two years of statement
                                                        history.&nbsp;&nbsp;</li>
                                                    <li><strong>It's environmentally friendly.</strong>&nbsp; Eliminating paper reduces waste, and it is better for the environment.&nbsp;&nbsp;</li>
                                                    <li><strong>They're device-friendly.</strong>&nbsp;You can view your statements and notices on a desktop, a tablet, or your mobile device.&nbsp;<a href="{% url 'accounts:login' %}" data-linktype="ext"><strong></strong></a></li>
                                                </ul>
                                                <p><a href="{% url 'accounts:login' %}" data-linktype="ext" class="button button2 ">Login</a></p>
                                                <p><span class="small">(Simply log into our digital banking platform via your mobile device, tablet, or desktop.&nbsp; Click on&nbsp;any&nbsp;of&nbsp;your&nbsp;accounts and select the <strong>Statements&nbsp;and&nbsp;Notices</strong>&nbsp;option.&nbsp; Accept the disclosures, and you will have activated eStatements.)</span></p>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="page-inner fix">
                <div class=" content content3 fix clear cimg-container">
                    <div class="inner">


                    </div>
                </div>
            </div>
            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content4 fix clear cimg-container">

                        <div class="contentdeck two-column-text-image closing-block bg-color-customblue photo-align-left reverse-boxed-deck">
                            <div class="clearfix">
                                <div class="deckinner deck-distinct bg-color-customblue logo-overlay">
                                    <div class=" multicol2">
                                        <div class="multicol-inner fix">

                                            <div class="deck-title lexend" role="heading">Looking for more?</div>


                                            <div class="intro">We think these topics may match your interests!</div>



                                            <div class="tiny txt-left" style="display: block; width: 100%"><a href="{% url 'accounts:register' %}">Fresh start?</a></div>



                                        </div>
                                    </div>
                                    <div class="multicol1">
                                        <div class="multicol-inner inner fix">

                                            <div class="stacked-bars-container">


                                                <a href="{% url 'accounts:register' %}" class="" data-cat="Bar" data-label="Auto">
                                                    <div class="stacked-bar card">
                                                        <div><i class="fa-thin fa-sailboat"></i></div> Boat Loans
                                                    </div>
                                                </a>




                                                <a href="{% url 'accounts:register' %}" class="" data-cat="Bar" data-label="Auto">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-motorcycle"></i> Motorcycle Loans
                                                    </div>
                                                </a>




                                                <a href="{% url 'accounts:register' %}s.html" class="" data-cat="Bar" data-label="Auto">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-caravan"></i> RV Loan Rates
                                                    </div>
                                                </a>




                                                <a href="{% url 'accounts:register' %}" class="" data-cat="Bar" data-label="Auto">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-percent"></i> Rates
                                                    </div>
                                                </a>









                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end fullwidth -->
        </div>
        <!--end wrapper_inner-->
    </div>



{% include "core/footer.html" %}