{% include "core/header.html" %}
{% load static %}
<div class="wrapper_inner clearfix clear" id="startcontent">
    <!-- start standard -->

    <div class="page-inner fix">
        <!--content column-->
        <div class="threefourths col-left left">
            <div class="inner">
                <div id="page-content" class="content content1 cimg-container">
                    <h1 class="page-title">Locations</h1>

                    <p>
                        <!-- Replace JavaScript-based map with Google Maps iframe -->
                        <div id="map_canvas" class="Flexible-container">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3377.731233661179!2d-96.79027239999999!3d32.81263516390783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e996df4f89f3b%3A0xdbc8f3f3032b4c28!2s4040%20N%20Central%20Expy%2C%20Dallas%2C%20TX%2075204%2C%20USA!5e0!3m2!1sen!2sus!4v1693509876543!5m2!1sen!2sus"
                                width="100%"
                                height="400"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <!--sidebar column-->
        <div class="onefourth col-right right">
            <div class="sidebar sidebar-desktop no-subnav">
                <div class="location-sidebar inner">
                    <h3>BRANCHES</h3>
                    <p><a  data-linktype="site">Central Expressway Office</a></p>
                    <p><a  data-linktype="site">Garland Office</a></p>
                    <p><a  data-linktype="site">Lancaster Office</a></p>
                    <p><a  data-linktype="site">Mesquite Office</a></p>
                    <p><a  data-linktype="site">Royal Office</a></p>
                    <p><a  data-linktype="site">Springfield Office</a></p>
                    <p>
                        <div class="cta"><a  class="button button10 " data-perstag="" data-bid="82">Holiday Schedule</a></div>
                        <div class="cta"><a  class="button button12 " data-perstag="" data-bid="85">Schedule an Appointment</a></div>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="onewhole left">
        <div class="decks fix clear">
            <div class="content content2 fix clear cimg-container">

            </div>
        </div>
    </div>

    <div class="page-inner fix">
        <div class=" content content3 fix clear cimg-container">
            <div class="inner">


            </div>
            <div class="sidebar-mobile">
                <div class="location-sidebar inner">
                    <h3>BRANCHES</h3>
                    <p><a  data-linktype="site">Central Expressway Office</a></p>
                    <p><a  data-linktype="site">Garland Office</a></p>
                    <p><a  data-linktype="site">Lancaster Office</a></p>
                    <p><a  data-linktype="site">Mesquite Office</a></p>
                    <p><a  data-linktype="site">Royal Office</a></p>
                    <p><a  data-linktype="site">Springfield Office</a></p>
                    <p>
                        <div class="cta"><a  class="button button10 " data-perstag="" data-bid="82">Holiday Schedule</a></div>
                        <div class="cta"><a  class="button button12 " data-perstag="" data-bid="85">Schedule an Appointment</a></div>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--end standard-->
</div>

        <!--end wrapper_inner-->
    </div>


{% include "core/footer.html" %}