{% include "core/header.html" %}
{% load static %}

        <div class="wrapper_inner clearfix clear" id="startcontent">
            <!-- start fullwidth -->


            <div class="page-inner fix">
                <!--content column-->
                <div class="onewhole left">
                    <div class="inner">
                        <div id="page-content" class="content content1 cimg-container">
                            <H1 class="page-title">Privacy Policy</H1>

                            <p>It is the policy and practice of America's Credit Union (America's CU) to hold our members' financial matters in the strictest privacy, and we never divulge financial information about our members except at their request or
                                unless compelled to do so by law.&nbsp;</p>
                            <h4>What Does America's Credit Union Do With Your Personal Information?</h4>
                            <p><strong>WHY?</strong>&nbsp;Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect,
                                share, and protect your personal information. Please read this notice carefully to understand what we do.</p>
                            <p><strong>WHAT?</strong>&nbsp;The types of personal information we collect and share depend on the product or service you have with us. This information can include:</p>
                            <ul>
                                <li>Social Security number and account balances</li>
                                <li>Overdraft history and payment history</li>
                                <li>Transaction or loss history and wire transfer instructions</li>
                            </ul>
                            <p>When you are no longer our member, we continue to share your information as described in this notice.</p>
                            <p><strong>HOW?&nbsp;</strong>All financial companies need to share members&rsquo; personal information to run their everyday business. In the section below, we list the reasons financial companies can share their members&rsquo;
                                personal information; the reasons America's Credit Union chooses to share; and whether you can limit this sharing.</p>
                            <h4>Reasons America's Credit Union Will Share Your Personal Information:</h4>
                            <ul>
                                <li>For our everyday business purposes &ndash; such as processing your transactions, maintaining your account(s), responding to court orders and legal investigations, or reporting to credit bureaus. For our marketing purposes
                                    &ndash; to offer our products and services to you. For joint marketing with other financial companies. Does America's Credit Union share? Yes. Can you limit this sharing? No.</li>
                                <li>For our affiliates&rsquo; everyday business purposes &ndash; information about your transactions and experiences. For our affiliates&rsquo; everyday business purposes &ndash; information about your creditworthiness. For
                                    our affiliates to market to you. For nonaffiliates to market to you. Does America's Credit Union share? No. Can you limit this sharing? We don't share.</li>
                                <li>No mobile information will be shared with third parties or affiliates for marketing and/or promotional purposes. All of the above categories exclude text messaging originator opt-in data and consent; this information will
                                    not be shared with any third parties, excluding aggregators and providers of the text message (SMS) services.</li>
                            </ul>
                            <p><strong>QUESTIONS? Call toll-free 1-888-742-6551 <a href="http://voice.google.com/calls?a=nc,%2B18887426551" class="gv-tel-link" target="_blank" rel="noopener" title="Call +1 888-742-6551 via Google Voice"></a>or visit our&nbsp;<a href="/contact-us.html?https://www.americascu.org/contact-us.html" data-linktype="site">Contact Us</a>&nbsp;page.</strong></p>
                            <h4>What We Do</h4>
                            <p><strong>How does America's Credit Union protect my personal information? </strong>To protect your personal information from unauthorized access and use, we use security measures that comply with federal law. These measures
                                include computer safeguards and secured files and buildings.</p>
                            <p><strong>How does America's Credit Union collect my personal information? </strong>We collect your personal information, for example, when you open an account or make a wire transfer, show your government-issued ID give us your
                                income information, and apply for financing. We also collect your personal information from others, such as credit bureaus, affiliates, or other companies.</p>
                            <p><strong>Why can&rsquo;t I limit all sharing? </strong>Federal law gives you the right to limit only sharing for affiliates&rsquo; everyday business purposes &ndash; information about your creditworthiness, affiliates from using
                                your information to market to you, and sharing for nonaffiliates to market to you. State law and individual companies may give you additional rights to limit sharing.&nbsp;</p>
                            <h4>Definitions</h4>
                            <p><strong>Affiliates: </strong>Companies related by common ownership or control. They can be financial and nonfinancial companies. America's Credit Union has no affiliates.</p>
                            <p><strong>Nonaffiliates: </strong>Companies not related by common ownership or control. They can be financial and nonfinancial companies. America's Credit Union does not share with our nonaffiliates so they can market to you.</p>
                            <p><strong>Joint Marketing: </strong>A formal agreement between nonaffiliated financial companies that together market financial products or services to you. Our joint marketing partners include advertising/marketing agencies
                                and insurance companies.<br /><br /><br /></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content2 fix clear cimg-container">

                    </div>
                </div>
            </div>

            <div class="page-inner fix">
                <div class=" content content3 fix clear cimg-container">
                    <div class="inner">


                    </div>
                </div>
            </div>
            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content4 fix clear cimg-container">

                        <div class="contentdeck two-column-text-image closing-block bg-color-customblue photo-align-left reverse-boxed-deck">
                            <div class="clearfix">
                                <div class="deckinner deck-distinct bg-color-customblue logo-overlay">
                                    <div class=" multicol2">
                                        <div class="multicol-inner fix">

                                            <div class="deck-title lexend" role="heading">Looking for more?</div>


                                            <div class="intro">We think these topics may match your interests!</div>



                                            <div class="tiny txt-left" style="display: block; width: 100%"><a href="/personalization-options.html">Fresh start?</a></div>



                                        </div>
                                    </div>
                                    <div class="multicol1">
                                        <div class="multicol-inner inner fix">

                                            <div class="stacked-bars-container">


                                                <a href="/borrow/mortgage/mortgage-refinance.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card">
                                                        <div><i class="fa-thin fa-house-window"></i></div> Mortgage Refinance
                                                    </div>
                                                </a>




                                                <a href="/borrow/personal/personal-loan.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-handshake-simple"></i> Personal Loans
                                                    </div>
                                                </a>




                                                <a href="/rates.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-percent"></i> Rates
                                                    </div>
                                                </a>




                                                <a href="/contact-us.html" class="" data-cat="Bar" data-label="Home Equity">
                                                    <div class="stacked-bar card"><i class="fa-thin fa-phone"></i> Contact Us
                                                    </div>
                                                </a>









                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end fullwidth -->
        </div>
        <!--end wrapper_inner-->
    </div>



{% include "core/footer.html" %}