{% include "core/header.html" %}
{% load static %}

        <div class="wrapper_inner clearfix clear" id="startcontent">
            <!-- start fullwidth -->

            <div class="hero-banner-2023 contentdeck two-column-text-image deck-image-overlap bg-color-transparent txt-dark bg-pattern-4 photo-align-left">
                <div class="clearfix">
                    <div class="deckinner deck-distinct no-padding-top bg-color-transparent txt-dark">
                        <div class=" multicol2">
                            <div class="multicol-inner fix">
                                <div class="overlap-img overlap-1"><img src="{% static 'assetzz/content/images/700/Americas-Kasasa-Saver-1.jpg' %}" alt="" loading="lazy"></div>
                                <div class="overlap-img overlap-2"><img src="{% static 'assetzz/content/images/700/Americas-Kasasa-Saver-2.jpg' %}" alt="" loading="lazy"></div>
                                <div class="overlap-mini-square bg-color-red txt-light">
                                    <div class="mini-text large">
                                        1.75% APY
                                        <sup><a class="footnote-link" href="#ftnt-1" id="fnref-0" data-fnid="ftnt-1" aria-label="link to footnote number 1">1</a></sup>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="multicol1">
                            <div class="multicol-inner inner fix">

                                <h2 class="deck-title h1-style">Kasasa Saver</h2>



                                <p><span class="intro">Effortless Savings with Kasasa Saver!</span></p>
                                <p>Kasasa Saver is a forever-free savings account that helps you earn more by using your debit card and online banking as you normally do. <br /><br />Just link Kasasa Saver to a Kasasa checking account and have your rewards
                                    roll into savings. Plus, you&rsquo;ll earn above-market rates every month you hit your Kasasa checking qualifications.</p>
                                <ul style="list-style-type: LogoList;">
                                    <li>Earn 1.75% APY
                                        <sup><a class="footnote-link" href="#ftnt-1" id="fnref-1" data-fnid="ftnt-1" aria-label="link to footnote number 1">1</a></sup> on balances up to $75,000</li>
                                    <li>Kasasa accounts are always free</li>
                                    <li>There&rsquo;s no minimum balance to earn Kasasa rewards</li>
                                    <li>Rewards are determined on a monthly basis. Even if you don&rsquo;t meet your monthly qualifications
                                        <sup><a class="footnote-link" href="#ftnt-2" id="fnref-2" data-fnid="ftnt-2" aria-label="link to footnote number 2">2</a></sup> for a month, you&rsquo;ll still earn a base rate. You can start earning your full rewards
                                        the very next month.</li>
                                </ul>
                                <p><a href="{% url 'accounts:login' %}" class="button button2 JQnewWindow" data-linktype="ext">Open a Kasasa Saver Account</a></p>
                                

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-inner fix">
                <!--content column-->
                <div class="onewhole left">
                    <div class="inner">
                        <div id="page-content" class="content content1 cimg-container">
                            <h1 class="page-title just-sr">Kasasa Saver</h1>


                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content2 fix clear cimg-container">
                        <p>
                            <div class="contentdeck bg-color-transparent txt-dark bg-pattern-4   onewhole    fix clear" id="saver">
                                <div class="banner-overlay clearfix">
                                    <div class="deckinner fix no-padding" style="margin:auto;">
                                        <div class="multicol-inner txt-dark">

                                            <div class="multicol-intro fix">
                                                <p>
                                                    <h2 class="calc-title txt-center" id="car-calc-label">Kasasa Saver</h2>

                                                    <div class="calc-container mma-calc" data-calcinstance="mma_6791eba9a61be" data-loadscript="{% static 'assetzz/scripts/CalcMMA-cloneable.js' %}">

                                                        <div class="calc-form">

                                                            <div class="onehalf colleft">
                                                                <div class="calc-smalltitle">
                                                                    <label for="vc3_initial_balance">Initial balance:</label>
                                                                </div>
                                                                <div class="bal_error calc-error hide clear" style="display:none"><i class="fa fa-exclamation-triangle 2x"> </i> Please enter only numbers. </div>
                                                                <a class="calc-button" href="javascript:void(0);" onclick="CalcMMA.chgBal('-','mma_6791eba9a61be');"><img src="{% static 'assetzz/img/minus-light.svg' %}" alt="minus sign"></a>
                                                                <input type="text" id="vc3_initial_balance" name="vc3_initial_balance" class="vc3_initial_balance recalctimer" value="">
                                                                <a class="calc-button" href="javascript:void(0);" onclick="CalcMMA.chgBal('+','mma_6791eba9a61be');"><img src="{% static 'assetzz/img/plus-light.svg' %}" alt="plus sign"></a>
                                                            </div>


                                                            <div class="onehalf colleft">
                                                                <div class="calc-smalltitle">
                                                                    <label for="vc3_calcyears">Calculate for years: </label>
                                                                </div>
                                                                <div class="calc-error term_error hide" style="display:none"><i class="fa fa-exclamation-triangle 2x"> </i> Please enter only numbers. </div>
                                                                <a class="calc-button" href="javascript:void(0);" onclick="CalcMMA.chgTerm('-','mma_6791eba9a61be');"><img src="{% static 'assetzz/img/minus-light.svg' %}" alt="minus sign"></a>
                                                                <input type="text" id="vc3_calcyears" name="vc3_calcyears" class="vc3_calcyears recalctimer field" value="">
                                                                <a class="calc-button" href="javascript:void(0);" onclick="CalcMMA.chgTerm('+','mma_6791eba9a61be');"><img src="{% static 'assetzz/img/plus-light.svg' %}" alt="plus sign"></a>
                                                            </div>

                                                            <input type="hidden" name="vc3_monthlydeposit" class="vc3_monthlydeposit" value="0">
                                                        </div>
                                                        <!--end calc-form-->

                                                        <div class="calc-results-block">
                                                            <div class="calc-results onehalf colleft">
                                                                <div class="calc-smalltitle">Future account balance:</div>
                                                                <div data-calcresult="FutureValue" class="calc-results-display"></div>
                                                            </div>
                                                            <div class="calc-results calc-results-2 onehalf colleft">
                                                                <div class="calc-smalltitle">Interest earned:</div>
                                                                <div class="calc-results-display" data-calcresult="TotalInterest"></div>
                                                            </div>

                                                        </div>


                                                        <div class="clear"></div>
                                                        <div class="calc-disclaimer" data-perstag-scripted="53" data-bid="454"> Starting with a balance of
                                                            <span class="calc-value" data-calcresult="initialbalance"></span>, a Kasasa Saver account will grow to
                                                            <span class="calc-value" data-calcresult="futurebalance"></span> in
                                                            <span class="calc-value" data-calcresult="termyears"></span> years. Your deposit of
                                                            <span class="calc-value" data-calcresult="totaldeposits"></span> will have earned
                                                            <span class="calc-value" data-calcresult="totalinterest"></span> in interest at
                                                            <span class="calc-value" data-calcresult="interestrate"></span>%. Kasasa saver interest rate applied only if qualifications
                                                            <sup><a class="footnote-link" href="#ftnt-3" id="fnref-3" data-fnid="ftnt-3" aria-label="link to footnote number 3">3</a></sup> are met and only up to $75,000.
                                                        </div>
                                                        <!-- NOTHING DISPLAYABLE DOWN HERE, ONLY DATA -->

                                                        <div style="display:none"> <i class="calcmma-data" data-BalChangeAmount="100" data-TermChangeAmount="1" data-DepChangeAmount="0" data-minBegBalance="100" data-BegBalance="2500"></i> <i class="vc3_data_rates" data-BalanceFrom="100"
                                                                data-BalanceTo="75000" data-IntRate="1.75%"></i> <i class="vc3_data_rates" data-BalanceFrom="75001" data-BalanceTo="9999999" data-IntRate="0.25%"></i>







                                                        </div>

                                                    </div>
                                                </p>
                                            </div>
                                            <div class="clear"></div>






                                            <div class="clear"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck double-decker bg-color-icyblue txt-dark photo-align-right fix clear">
                                <div class="clearfix">

                                    <div class="deckinner fix deck-distinct">
                                        <div class="multicol2">
                                            <div class="multicol-inner fix">
                                                <div class="feature-img "><img src="{% static 'assetzz/content/images/700/Americas-Kasasa-Saver-3.jpg' %}" loading="lazy" alt=""></div>
                                                <div class="feature-img remove-at-mobile"><img src="{% static 'assetzz/content/images/700/Americas-Kasasa-Saver-4.jpg' %}" loading="lazy" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">
                                                <div class="content-upper">
                                                    <div class="upper-text">

                                                        <h2 class="deck-title  ">Even More Kasasa Saver Benefits</h2>



                                                    </div>
                                                </div>
                                                <div class="content-lower">
                                                    <div class="step-list-container">
                                                        <ul style="list-style-type: LogoList;"></ul>
                                                        <p>
                                                            <div class="refreshed-step-list listcols-">

                                                                <div class="distinct-box-col">
                                                                    <ul class="step-list fix listcolwidth- colleft steplines">

                                                                        <li>
                                                                            <div class="step-title">Kasasa Saver links to free Kasasa Cash
                                                                                <sup><a class="footnote-link" href="#ftnt-3" id="fnref-4" data-fnid="ftnt-3" aria-label="link to footnote number 3">3</a></sup> or Kasasa Cash Back checking
                                                                                <sup><a class="footnote-link" href="#ftnt-4" id="fnref-5" data-fnid="ftnt-4" aria-label="link to footnote number 4">4</a></sup>
                                                                            </div><span></span></li>


                                                                        <li>
                                                                            <div class="step-title">Automatic transfers of Kasasa Cash
                                                                                <sup><a class="footnote-link" href="#ftnt-3" id="fnref-6" data-fnid="ftnt-3" aria-label="link to footnote number 3">3</a></sup> or Kasasa Cash Back rewards
                                                                                <sup><a class="footnote-link" href="#ftnt-4" id="fnref-7" data-fnid="ftnt-4" aria-label="link to footnote number 4">4</a></sup>
                                                                            </div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">No minimum balance to earn rewards</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">No monthly maintenance fees</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">Free online and mobile banking</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">Free e-Statements</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">Free Visa ATM card and access to surcharge-free ATMs</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">No minimum deposit to open</div><span></span></li>





                                                                    </ul>

                                                                </div>

                                                            </div>
                                                        </p>
                                                    </div>
                                                    <div class="cta-container">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck bg-color-blue txt-light  deck-angled-top-bottom  onehalf    fix clear">
                                <div class="banner-overlay clearfix">
                                    <div class="deckinner fix no-padding" style="margin:auto;">
                                        <div class="multicol-inner txt-light">
                                            <div class="deck-title h2-style  txt-center txt-light lexend" role="heading" aria-level="2">Resources and More</div>


                                            <div class="multicol-intro fix">
                                                <p style="text-align: center;"><a href="{% url 'accounts:login' %}" data-linktype="site" class="button button6 ">Kasasa Rewards Checking</a></p>
                                                <p style="text-align: center;"><a href="{% url 'accounts:login' %}" data-linktype="site" class="button button6 ">Money Market Accounts</a></p>
                                                <p style="text-align: center;"><a href="{% url 'accounts:login' %}" class="button button6 " data-linktype="site">Visa Credit Cards</a></p>
                                                <p style="text-align: center;"><a href="{% url 'accounts:login' %}" class="button button6 " data-linktype="site">Mobile &amp; Online Banking</a></p>
                                                <p style="text-align: center;"></p>
                                            </div>
                                            <div class="clear"></div>






                                            <div class="clear"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="page-inner fix">
                <div class=" content content3 fix clear cimg-container">
                    <div class="inner">


                    </div>
                </div>
            </div>


            <!-- end fullwidth -->
        </div>
        <!--end wrapper_inner-->
    </div>


{% include "core/footer.html" %}