{% include "core/header.html" %}
{% load static %}

        <div class="wrapper_inner clearfix clear" id="startcontent">
            <!-- start fullwidth -->

            <div class="hero-banner-2023 contentdeck two-column-text-image deck-image-overlap  txt-dark  photo-align-left">
                <div class="clearfix">
                    <div class="deckinner deck-distinct   txt-dark">
                        <div class=" multicol2">
                            <div class="multicol-inner fix">
                                <div class="overlap-img overlap-1"><img src="{% static 'assetzz/content/images/700/Americas-Our-Culture-1.jpg' %}" alt="" loading="lazy"></div>
                                <div class="overlap-img overlap-2"><img src="{% static 'assetzz/content/images/700/Americas-Our-Culture-2.jpg' %}" alt="" loading="lazy"></div>
                                <div class="overlap-mini-square  ">
                                    <div class="mini-text ">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="multicol1">
                            <div class="multicol-inner inner fix">

                                <h2 class="deck-title h1-style">Our Culture</h2>



                                <p><span class="intro">Diversity, Equity, and Inclusion</span></p>
                                <p>At America&rsquo;s CU we value every individual for who they are! We strive to create a diverse workplace full of amazing people from all walks of life. We are committed to:</p>
                                <ul style="list-style-type: LogoList;">
                                    <li>Fostering</li>
                                    <li>Cultivating</li>
                                    <li>Preserving</li>
                                </ul>
                                <p>Diversity, equity, and inclusion. As such, we are intentional with our selection of employees, volunteers, and business partners to be inclusive of all demographic backgrounds.</p>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-inner fix">
                <!--content column-->
                <div class="onewhole left">
                    <div class="inner">
                        <div id="page-content" class="content content1 cimg-container">
                            <h1 class="page-title just-sr">Our Culture</h1>


                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="onewhole left">
                <div class="decks fix clear">
                    <div class="content content2 fix clear cimg-container">
                        <p>
                            <div class="contentdeck double-decker bg-color-blue2 txt-light photo-align-right fix clear">
                                <div class="clearfix">

                                    <div class="deckinner fix deck-distinct">
                                        <div class="multicol2">
                                            <div class="multicol-inner fix">
                                                <div class="feature-img remove-at-mobile"><img src="{% static 'assetzz/content/images/700/Americas-Our-Culture-3.jpg' %}" loading="lazy" alt=""></div>
                                                <div class="feature-img "><img src="{% static 'assetzz/content/images/700/Americas-Our-Culture-4.jpg' %}" loading="lazy" alt=""></div>
                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">
                                                <div class="content-upper">
                                                    <div class="upper-text">

                                                        <h2 class="deck-title  ">Our Approach</h2>



                                                    </div>
                                                </div>
                                                <div class="content-lower">
                                                    <div class="step-list-container">
                                                        <h5>We believe our employees are our most valuable asset.</h5>
                                                        <p>The collective sum of the individual differences, life experiences, knowledge, inventiveness, innovation, self-expression, unique capabilities, and talent that our employees invest in their work
                                                            defines our culture.</p>
                                                        <p>The strength of our culture is reflected in our reputation and demonstrated through our continued growth and success.</p>
                                                        <h2>Our Pledge</h2>
                                                        <p>America's CU employees pledge to always treat others with dignity and respect and exhibit conduct that reflects inclusion while in the workplace and in our communities.</p>
                                                        <h2>Our Commitment</h2>
                                                        <p>We are committed to embracing and encouraging our employees&rsquo; differences in age, color, disability, ethnicity, family or marital status, gender identity or expression, language, national origin,
                                                            physical and mental ability, political affiliation, race, religion, sexual orientation, socio-economic status, veteran status, and other characteristics that make our employees unique.&nbsp;</p>
                                                        <p>This commitment is demonstrated through:</p>
                                                        <p>
                                                            <div class="refreshed-step-list listcols-">

                                                                <div class="distinct-box-col">
                                                                    <ul class="step-list fix listcolwidth- colleft steplines">

                                                                        <li>
                                                                            <div class="step-title">Respectful communication and cooperation between all employees.</div><span></span></li>


                                                                        <li>
                                                                            <div class="step-title">Teamwork and participation, permitting the representation of all groups and employees.</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">Work/life balance through flexible work schedules.</div><span></span></li>



                                                                        <li>
                                                                            <div class="step-title">Employer and employee contributions to the communities we serve to promote a greater understanding and respect for diversity.</div><span></span></li>













                                                                    </ul>

                                                                </div>

                                                            </div>
                                                        </p>
                                                    </div>
                                                    <div class="cta-container">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </p>
                        <p>
                            <div class="contentdeck two-column-text-image bg-color-icyblue txt-dark  photo-align-left angled-deck double-angle">
                                <div class="clearfix">
                                    <div class="deckinner deck-distinct  bg-color-icyblue txt-dark">
                                        <div class=" multicol2">
                                            <div class="multicol-inner fix">

                                                <div class="feature-img"><img src="{% static 'assetzz/content/images/original/Americas-Our-Culture-5.jpg' %}" alt="" loading="lazy"></div>


                                            </div>
                                        </div>
                                        <div class="multicol1">
                                            <div class="multicol-inner inner fix">

                                                <div class="deck-title txt-left " role="heading">Brand Ambassador</div>



                                                <p>America&rsquo;s Credit Union recognizes the importance of living our values in such a way that creates meaningful and lasting relationships with our members, prospective communities, and all team members.</p>
                                                <p>The purpose of our Brand Ambassador program is to celebrate the representation of our values.</p>
                                                <ul style="list-style-type: disc;">
                                                    <li>We are community-minded.</li>
                                                    <li>We provide personalized service.</li>
                                                    <li>We are forward-thinking.</li>
                                                    <li>We provide customized solutions.</li>
                                                    <li>We strive to exceed expectations.</li>
                                                </ul>
                                                <p></p>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="page-inner fix">
                <div class=" content content3 fix clear cimg-container">
                    <div class="inner">


                    </div>
                </div>
            </div>


            <!-- end fullwidth -->
        </div>
        <!--end wrapper_inner-->
    </div>


{% include "core/footer.html" %}