 {% load static %}

    <footer>
        <div class="footer clearfix">
            <div class="foot page-inner upper-footer">
                <div class="onefourth left">
                    <div class="foot-logo"><a ><img src="{% static 'assetzz/img/logo-stacked.svg' %}" alt="Americas Credit Union" width="180" loading="lazy"></a></div>
                </div>

                <div class="threefourths left">
                    <div class="quicklinks-container">
                        <div class="footer-quicklinks">
                            <div class="quicklinks-head">Help</div>
                            <ul>




                                <li>

                                    <a href="{% url 'accounts:login' %}" class="JQtrack " data-cat="Footer Quick Links" data-label="Open an Account">Open an Account</a>




                                </li>

                                <li>

                                   




                                </li>

                            

                                <li>

                                    <a href="{% url 'accounts:login' %}" class="JQtrack " data-cat="Footer Quick Links" data-label="Manage My Loan">Manage My Loan</a>




                                </li>


                            </ul>
                        </div>
                        <div class="footer-quicklinks">
                            <div class="quicklinks-head">Resources</div>
                            <ul>


                                <li>

                                    <a href="/html/privacy" class="JQtrack " data-cat="Footer Quick Links" data-label="Privacy Policy">Privacy Policy</a>




                                </li>

                                

                                

                                <li>



                                    <div class="footerlink-onlytext">
                                        <p>NMLS ID #562279</p>
                                    </div>


                                </li>

                                <li>



                                    <div class="footerlink-onlytext">
                                        <p>Routing #311982435</p>
                                    </div>


                                </li>

                                <li>

                                    <a href="/html/complaint" class="JQtrack " data-cat="Footer Quick Links" data-label="Complaint Notice">Complaint Notice</a>




                                </li>


                            </ul>
                        </div>
                        <div class="footer-quicklinks">
                            <div class="quicklinks-head">Contact</div>
                            <ul>


                                <li>

                                    <a href="/html/location/" class="JQtrack " data-cat="Footer Quick Links" data-label="Locations">Locations</a>




                                </li>

                                <li>

                                    <a href="{% url 'about' %}" class="JQtrack " data-cat="Footer Quick Links" data-label="About Us">About Us</a>




                                </li>

                                <li>

                                    <a href="{% url 'contact_us' %}" class="JQtrack " data-cat="Footer Quick Links" data-label="Contact Us">Contact Us</a>




                                </li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="onewhole">
                <div class="page-inner lower-footer">
                    <div class="copyright">&copy; America's Credit Union 2025 &nbsp; All Rights Reserved.</div>
                    <div class="footer-nav">
                        <div class="nav-footer">
                            <ul class="nav-menu">

                                <li class="nav-item nav1 first">
                                    <a href="/html/location/" class=" ">Site Map</a>
                                </li>

                               

                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <div class="onewhole">
                <div class="page-inner footer-icons">

                    <div class="footer-badges"><a  class="" ><img src="{% static 'assetzz/img/badge-apple-store.webp' %}" width="120" alt="Download on the App Store"></a>
                        <a  class="" target="_blank"><img src="{% static 'assetzz/img/badge-google-play.webp' %}" width="120" alt="Get it on Google Play"></a></div>


                    <div class="social">
                        <a href="https://www.instagram.com/americas_cu" data-linktype="ext" class="" aria-label="Instagram"><img src="{% static 'assetzz/img/instagram-logo-color.png' %}" height="30" alt="Instagram"></a>
                        <a href="https://www.facebook.com/AmericasCreditUnion" data-linktype="ext" class="" aria-label="Facebook"><img src="{% static 'assetzz/img/logo-facebook-color.svg' %}" height="32" alt="Facebook"></a>
                        <a href="https://x.com/Americas_CU" data-linktype="ext" class="" aria-label="X"><i class="fa-brands fa-x-twitter" style="color:black; margin-top: 7px;"></i></a>
                    </div>


                    <div class="compliance">
                        <div class="compliance-text">
                            <div class="ncua-text">Federally insured by the NCUA.</div>
                            <div class="ehl-text">An Equal Housing Lender</div>
                        </div>
                        <div class="compliance-logos">
                            <a  target="_blank" class=""><img src="{% static 'assetzz/img/logo-NCUA-blue.svg' %}" alt="National Credit Union Association" width="86"></a> <a class=""><img src="{% static 'assetzz/img/logo-EHO-dark.svg' %}" alt="Equal Housing Opportunity" width="47"></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="onewhole">
                <div class="page-inner txt-left">

                    <!-- footnotes  -->
                    <style>
                        .fn-active {
                            background-color: rgba(255, 255, 00, 0.35);
                        }

                        .fnref-active {
                            font-weight: bold;
                            background-color: rgba(255, 255, 00, 0.35);
                        }

                        .footnotes-holder {
                            background-color: transparent;
                        }

                        .footnotes-wrapper__content {
                            max-height: 80px;
                            background-color: transparent;
                            /*border: 1px solid #dedede; */
                            overflow-y: scroll;
                            overflow-x: hidden;
                            padding: 0 10px;
                            font-size: .75rem;
                            line-height: 1.3;
                            border-radius: 5px;
                        }

                        .footnotes-wrapper__content p {
                            line-height: 1.5;
                        }

                        .footnotes-wrapper__content.expanded {
                            max-height: 100%;
                            overflow: auto;
                        }

                        .footnote-header {
                            display: flex;
                            justify-content: space-between;
                            flex: 1;
                            margin-bottom: 10px;
                            align-items: flex-end;
                            font-size: .9rem;
                        }

                        .footnote-title {
                            font-style: normal;
                            color: #1B365D;
                        }

                        .footnotes-item sup {
                            margin-left: -8px;
                        }

                        button.footnote-nav {
                            background: transparent;
                            color: #214A82;
                            padding: 0;
                            font-weight: 400;
                            margin: 0;
                            font-size: .8rem;
                            border: none !important;
                            box-shadow: none !important;
                        }

                        button.footnote-nav:hover {
                            color: #000;
                        }

                        .footnote-return {
                            text-align: right;
                        }

                        .footnote-return button {
                            color: #666666;
                        }

                        .footnotes-holder i.fa {
                            color: #666666;
                            font-weight: 400;
                        }

                        .footnote-return button:hover,
                        .footnotes-holder i.fa:hover {
                            color: #000;
                        }

                        /* additional custom footnote styles */

                        .footnotes-holder .inner {
                            max-width: 1440px;
                        }

                        .footnotes-holder .inner {
                            padding: 40px 0 30px 0;
                            margin: 0 auto;
                        }

                        .footnotes-wrapper__content p {
                            font-size: 0.8rem !important;
                            line-height: 1.3 !important;
                            margin-bottom: 10px;
                        }

                        .footnotes-wrapper__content a:link,
                        .footnotes-wrapper__content a:visited {
                            color: #083F2C;
                        }

                        a.footnote-link:link,
                        a.footnote-link:visited {
                            /*color: #222;*/
                        }

                        a.footnote-link:hover,
                        a.footnote-link:active {
                            color: #0C6E4D;
                        }

                        /* override for dark decks */

                        div.contentdeck.brandcolor a.footnote-link:link,
                        div.contentdeck.brandcolor a.footnote-link:visited {
                            color: #FFF;
                        }

                        div.contentdeck.brandcolor a.footnote-link:hover,
                        div.contentdeck.brandcolor a.footnote-link:active {
                            color: #FFF;
                        }

                        /* overrides for footnotes on banner with light text color */

                        .banner-body.txt-light a:link,
                        .banner-body.txt-light a:visited,
                        .banner-body.txt-light a:hover,
                        .banner-body.txt-light a:active {
                            color: #fff;
                        }

                        .banner-body.txt-light a.footnote-link:link,
                        .banner-body.txt-light a.footnote-link:visited {
                            color: #fff;
                        }

                        .txt-light a.footnote-link:hover,
                        .txt-light a.footnote-link:active {
                            color: #fff;
                        }

                        @media screen and (max-width: 767px) {
                            .footnotes-wrapper__content {
                                max-height: 160px
                            }
                        }
                    </style>
                    <div class="footnotes-holder onewhole">
                        <div class=" inner">
                            <section>
                                <div class="footnote-header">
                                    <span class="footnote-title">Disclosures</span>
                                    <button id="footnotes-toggle-btn" class="footnote-nav"><span id="footnotes-toggle-btn-lbl"><span aria-hidden="true">+ </span>Expand</span></button>
                                </div>

                                <div class="footnotes-wrapper__content" tabindex="0">

                                    <div class="footnotes-item" tabindex="-1" id="ftnt-1">

                                        <p><sup>1</sup> APR=Annual Percentage Rate</p>

                                    </div>

                                    <div class="footnotes-item" tabindex="-1" id="ftnt-2">

                                        <p><sup>2</sup> APY = Annual Percentage Yield</p>

                                    </div>






                                </div>
                                <div id="ftnt-boomerang" class="footnote-return" data-offset="" style="display:none"><button class="footnote-nav" onclick="returnFromFootnote();">Return <i class="fa fa-arrow-up"></i></button></div>



                            </section>
                        </div>
                    </div>
                    <!-- footnotes end -->
                    <script>
                        $(function() {
                            $('body').on("click", '[id^=fnref-]', function(e) {
                                e.preventDefault();
                                fnid = $(this).attr('data-fnid');
                                refid = $(this).attr('id');
                                gotoFootnote(fnid, refid);
                            });
                            $('body').on("click", '#footnotes-toggle-btn', function(e) {
                                e.preventDefault();
                                toggleFootnotes();

                            });


                        });

                        function toggleFootnotes() {
                            if ($('div.footnotes-wrapper__content').hasClass('expanded')) {
                                // footnotes area was already expanded
                                $('div.footnotes-wrapper__content').toggleClass('expanded');
                                $('#footnotes-toggle-btn-lbl').text('+ Expand');
                            } else {
                                $('div.footnotes-wrapper__content').toggleClass('expanded');
                                $('#footnotes-toggle-btn-lbl').text('- Collapse');
                            }
                        }
                        // 
                        function gotoFootnote(fnid, refid) {

                            if (!$('div.footnotes-wrapper__content').hasClass('expanded')) {
                                // expand footnotes area
                                toggleFootnotes();
                                //$('div.footnotes-wrapper__content').toggleClass('expanded');
                            }

                            // add active class to the footnote we're going to
                            $("#" + fnid).addClass('fn-active');
                            const scrollto = $('#' + fnid).offset().top - getHeaderHeight();

                            // we skip the scroll here because hashLogic will handle the scroll
                            //$('html, body').animate({ scrollTop: scrollto }, 'slow');

                            // remember where we were on the page
                            var offsetClicked = $(this).scrollTop();
                            $("#ftnt-boomerang").attr('data-offset', offsetClicked);
                            // and leave a breadcrumb where we came from
                            $("#ftnt-boomerang").attr('data-fnref', refid);

                            // show our return button
                            $("#ftnt-boomerang").show();
                            // and set a timer to remove the active class after a while
                            setTimeout(() => {
                                $("#" + fnid).removeClass('fn-active');
                            }, "3000");
                        }

                        function returnFromFootnote() {
                            // pull stored breadcrumbs
                            var offset = $("#ftnt-boomerang").attr('data-offset');
                            var fnref = $("#ftnt-boomerang").attr('data-fnref');

                            // highlight the footnote reference we came from
                            $('#' + fnref).addClass('fnref-active');
                            // and set a timer to de-highlight
                            setTimeout(() => {
                                $("#" + fnref).removeClass('fnref-active');
                            }, "3000");

                            // hide our continue button
                            $("#ftnt-boomerang").hide();
                            // and return to where we were before
                            $('html, body').animate({
                                scrollTop: offset
                            }, 'slow');

                        }
                    </script>

                </div>
            </div>



        </div>

        <div class="site-alerts">
            <!-- toolbox -->

            <div class="alert alert-styled-toolbox toolbox-animate fix" data-alertid="toolbox_583" data-bid="583">


                <div class="alert-content" style="display: none;" data-alertid="toolbox_583">
                    <div class="inner ">
                        <div class="alert-desc">
                            <ul>
                                <li>Terms from 5 to 30 years.</li>
                                <li>No prepayment fees.</li>
                                <li>Use our Home Equity calculator to find the BEST loan for you.</li>
                            </ul>
                            <p style="text-align: center;"><a href="/html/home-equity/" class="button button9 " data-linktype="site" data-perstag="16">Home Equity &nbsp;Loan Details</a></p>
                        </div>

                        <div class="email-lead-title">Get our latest home loan news:</div>
                        <div class="email-lead">
                            <style type="text/css">
                                .myForm td,
                                input,
                                select,
                                textarea,
                                checkbox {
                                    font-family: tahoma;
                                    font-size: 12px;
                                }

                                .required {
                                    color: red;
                                }
                            </style>

                        </div>

                    </div>

                </div>
            </div>



            <div class="alert alert-white alert-textel fix" data-alertid="47_13">
                <div class="inner JQexpandAlert alert-expand JQautoexpandAlert" data-alertid="47_13">
                    <div class="alert-title">New Branch Hours: Effective January 2, 2025</div>

                    <!-- this button is not current used in the interface -->
                    <button style="display:none" class="alert_closebtn JQcloseAlert" data-alertid="47_13"><span class="fal fa-times"><span class="just-sr">Close this alert message.</span></span></button>

                    <button class="alert_expandbtn" data-alertid="47_13"><span class="alert-closed-icon"><span class="just-sr">Expand or collapse this alert message.</span></span></button>
                    <!--alert-open-icon-->
                </div>

                <div class="alert-content" style="display:none" data-alertid="47_13">
                    <div class="inner ">

                        <div class="alert-desc">
                            <p><strong>Mon &ndash; Thu</strong>: 9:00 AM &ndash; 5:00 PM | <strong>Fri</strong>: 8:00 AM &ndash; 5:00 PM</p>
                            <p>We look forward to seeing you during our expanded hours!</p>
                        </div>
                    </div>
                    <div class="alert-actions">
                        <button class="JQcloseAlert" data-alertid="47_13" data-lifespan="30">Dismiss</button>
                    </div>
                </div>
            </div>

            <div class="alert alert-white fix" data-alertid="49_2">
                <div class="inner JQexpandAlert alert-expand " data-alertid="49_2">
                    <div class="alert-title">Exciting News: We're Coming Together</div>

                    <!-- this button is not current used in the interface -->
                    <button style="display:none" class="alert_closebtn JQcloseAlert" data-alertid="49_2"><span class="fal fa-times"><span class="just-sr">Close this alert message.</span></span></button>

                    <button class="alert_expandbtn" data-alertid="49_2"><span class="alert-closed-icon"><span class="just-sr">Expand or collapse this alert message.</span></span></button>
                    <!--alert-open-icon-->
                </div>

                <div class="alert-content" style="display:none" data-alertid="49_2">
                    <div class="inner ">

                        <div class="alert-desc">
                            <p>America's Credit Union and Texas Telcom Credit Union are coming together!&nbsp; We're excited to combine our strengths, resources, expertise, and membership bases to serve our members and remain true to our core principles
                                and values.&nbsp; Read about the <a  data-linktype="ext">merger</a>.&nbsp;&nbsp;</p>
                        </div>
                    </div>
                    <div class="alert-actions">
                        <button class="JQcloseAlert" data-alertid="49_2" data-lifespan="30">Dismiss</button>
                    </div>
                </div>
            </div>

            <div class="alert alert-maroon fix" data-alertid="38_8">
                <div class="inner JQexpandAlert alert-expand " data-alertid="38_8">
                    <div class="alert-title">Winter 2025 Newsletter</div>

                    <!-- this button is not current used in the interface -->
                    <button style="display:none" class="alert_closebtn JQcloseAlert" data-alertid="38_8"><span class="fal fa-times"><span class="just-sr">Close this alert message.</span></span></button>

                    <button class="alert_expandbtn" data-alertid="38_8"><span class="alert-closed-icon"><span class="just-sr">Expand or collapse this alert message.</span></span></button>
                    <!--alert-open-icon-->
                </div>

                <div class="alert-content" style="display:none" data-alertid="38_8">
                    <div class="inner ">

                        <div class="alert-desc">
                            <p>The Winter 2025 edition of our newsletter is now available online.&nbsp; Check out the latest promotions, updates, and insights. Read the <a data-linktype="site">Winter 2025&nbsp;newsletter edition.</a></p>
                        </div>
                    </div>
                    <div class="alert-actions">
                        <button class="JQcloseAlert" data-alertid="38_8" data-lifespan="30">Dismiss</button>
                    </div>
                </div>
            </div>

            <div class="alert alert-white fix" data-alertid="6_41">
                <div class="inner JQexpandAlert alert-expand " data-alertid="6_41">
                    <div class="alert-title">How we use cookies</div>

                    <!-- this button is not current used in the interface -->
                    <button style="display:none" class="alert_closebtn JQcloseAlert" data-alertid="6_41"><span class="fal fa-times"><span class="just-sr">Close this alert message.</span></span></button>

                    <button class="alert_expandbtn" data-alertid="6_41"><span class="alert-closed-icon"><span class="just-sr">Expand or collapse this alert message.</span></span></button>
                    <!--alert-open-icon-->
                </div>

                <div class="alert-content" style="display:none" data-alertid="6_41">
                    <div class="inner ">

                        <div class="alert-desc">
                            <p>This site uses cookies to improve your browsing experience. By using the website, you consent to the use of cookies. To learn more about our commitment to protecting your personal information see our <a href="/html/privacy"
                                    data-linktype="site">privacy policy</a>.</p>
                        </div>
                    </div>
                    <div class="alert-actions">
                        <button class="JQcloseAlert" data-alertid="6_41" data-lifespan="3">Dismiss</button>
                    </div>
                </div>
            </div>



        </div>

    </footer>


    <div class="mobile-size-indicator">&nbsp;</div>
    <div id="dialog" title="" class="hide"> <span class="ui-icon-alert"></span>
        <div id="dialog_content"></div>
    </div>

    <!-- slick slider script -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- slick slider header CSS now within site.css as minified block -->
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
</body>

</html>